<div id="navbar">
    <a href="#default" id="logo"><%= docTitle %></a>
    <div id="navbar-right">
      <a  href="#home">Login</a>
      <a href="#contact">More</a>
      <a href="#about">Cart</a>
    </div>
  </div>