<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= docTitle %></title>
    <link rel="stylesheet" href="../../fonts/material-icon/css/material-design-iconic-font.min.css">
    <link rel="stylesheet" href="../../css/style.css">
</head>
<body>
    <div id="navbar">
        <a href="#default" id="logo"><%= docTitle %></a>
        <div id="navbar-right">
          <a  href="#home">Login</a>
          <a href="#contact">More</a>
          <a href="#about">Cart</a>
        </div>
      </div>
      <script src="../../js/nav.js"></script>
      <script src="../../vendor/jquery/jquery.min.js"></script>
</body>
</html>